<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <ul class = "nav-list">
          <li>
            <a href="/flights">All Flights</a>
          </li>
          <li>
            <a href="/flights/new">Add a Flight</a>
          </li>
        </ul>
      </nav>
<main>
	<h2>Enter a New Flight</h2>
	<form action="/flights" method="POST">
		
		<label>Airline:
			<select name="airline">
                <option value="American">American</option>
				<option value="Southwest">Southwest</option>
				<option value="United">United</option>
            </select>
		</label><br>
		<label>Airport
			<select name="airport">
				<option value="AUS">AUS</option>
				<option value="DFW">DFW</option>
				<option value="DEN">DEN</option>
				<option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
			</select>
		</label><br>
		<label>FlightNo:
			<input type="number" name="flightNo">
		</label><br>
		<label>Departs:
			<input type="text" name="Dates" checked>
		</label><br>
		<button type="submit">Add Flight</button>
	</form>
</main>
</body>

</html>
