<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Destinations</title>
</head>

<body>
    <nav>
        <ul class="nav-list">
            <li>
                <a href="/flights">All Flights</a>
            </li><br>
            <li>
                <a href="/flights/new">Add a Flight</a>
            </li>
        </ul>
    </nav>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label for="arrival-date">Arrival Date:</label>
        <input type="date" id="arrival-date" name="arrival">
        <label for="airport-code">Airport Code:</label>
        <select id="airport-code" name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <input type="submit" value="Add destination">
    </form>

    <% if (flight.destinations.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Arrival Date</th>
                    <th>Airport Code</th>
                </tr>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(destination) { %>
                    <tr>
                        <td>
                            <%= destination.arrival %>
                        </td>
                        <td>
                            <%= destination.airport %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No destinations at this time</h5>
            <% } %>
</body>

</html>